<div class="data-form">
  <!---build a form to create user account-->
  <form class="form-signin" action="/users/create" method="POST">
    <!---add user properties as inputs to the form-->
    <h2 class="form-signin-heading">Create a new user:</h2>
    <label for="inputFirstName">First Name</label>
    <input type="text" name="first" id="inputFirstName" class="form-control" placeholder="First" autofocus>
    <label for="inputLastName">Last Name</label>
    <input type="text" name="last" id="inputLastName" class="form-control" placeholder="Last">
    <!---apply HTML attributes to protect password and email fields-->
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <label for="inputEmail">Email address</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required>
    <label for="inputZipCode">Zip Code</label>
    <input type="text" name="zipCode" id="inputZipCode" pattern="\d*" class="form-control" placeholder="Zip Code" required>
    <br /><button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>
